* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* color: #290f1c; */
  color: #f5f5f5;
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
}

body {
  background: rgb(2, 2, 27);
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 6em;
  padding: 2em;
  align-items: center;
}

.header-container {
  width: 47vw;
  height: 3.3em;
  /* background: #887070; */
  background: linear-gradient(#001433, #002966, #003d99);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  box-shadow: 0 0 3px lightblue;
}

.header-container > .header-text {
  font-size: 2.1em;
}

.name-insert-container {
  width: 40vw;
  height: 17em;
  border-radius: 2em;
  /* background: #b8b8ff; */
  /* background: #887070; */
  background: linear-gradient(#001433, #002966, #003d99);
  display: flex;
  flex-direction: column;
  padding: 0.8em 1.3em 1em 1.3em;
  gap: 1.6em;
  box-shadow: 1px 1px 7px lightblue;

  /* animation */
  animation: main-container 1s linear;
}

.name-insert-container.sp {
  padding: 2em;
  gap: 0;
  justify-content: space-between;
}

.name-insert-container > .instructions {
  align-self: center;
  font-size: 2em;
}

.player-1,
.player-2 {
  display: flex;
  align-items: center;
}

.player-1 > label,
.player-2 > label {
  font-size: 1.2em;
}

#player-1,
#player-2 {
  width: 74%;
  padding: 0.6em;
  padding-left: 0.9em;
  margin-left: 0.7em;
  border-radius: 1.1em;
  border: none;
  color: black;
  background: #f5f5f5;
  font-size: 1.1em;
  justify-self: center;
}

.link-start-game {
  display: inline-block;
  width: 100%;
  color: black;
  text-decoration: none;
  z-index: 2;
  width: 40%;
  margin: 0 auto;
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  color: black;
  font-size: 1.15em;
  cursor: pointer;
  background: #f5f5f5;
  text-align: center;
}

@keyframes main-container {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
